{% load render_table from django_tables2 %}
<!doctype html>
<html>

  <head>
      <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
      <center><font size = 45>welcome {{username}}</font></center>

      {% if todo_list %}
        <center>{% render_table todo_list %}</center>
      {% else %}
        <center>no entries are listed</center>
      {% endif %}
      <form action = 'add' align = 'center' method = 'POST'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit">
      </form>
    </body>
</html>
